# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment variables and secrets
.env
*.env

# Virtual environments
.venv/
venv/
ENV/
env/
*.virtualenv

# macOS-specific files
.DS_Store

# VS Code-specific files
.vscode/

# PyCharm-specific files
.idea/

# Static files
/static/
!.gitkeep

# Media files
/media/
!.gitkeep

# Migrations
*/migrations/
!*/migrations/__init__.py

# Coverage reports
htmlcov/
.coverage
*.cover
*.coverage.*

# Test and debug output
nosetests.xml
coverage.xml
*.coveragerc
*.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pyre type checker
.pyre/

# MyPy type checker
.mypy_cache/

# Cache files
*.cache
.cache/