@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-item, .hover {
    color: #363636;
}

.hover:hover {
    cursor: pointer;
}

.hover-item:hover {
    background-color: #005EFF;
    color: #FFFFFF !important;
    cursor: pointer;
}

.scrollbar-container {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #d3d3d3 transparent;
}

.hover-account-select:hover {
    border: 3px solid #005EFF;
    background-color: #005eff1e;
}

.hover-account-selected {
    border: 3px solid #005EFF;
    background-color: #005eff1e;
}
.dark {
    background-color: #1a202c; 
    color: #e2e8f0; 
  }
  
  .dark body {
    background-color: #1a202c;
  }